<h1><%= h(@memo['title']) %></h1>
<ul>
  <% @memo['memo'].split("\r\n").each do |sentence| %>
    <li><%= h(sentence) %></li>
  <% end %>
</ul>
<div class="detail-btn">
  <button type=“button” onclick="location.href='/<%= @id %>/edit'">変更</button>
  <form action="/<%= @id %>" method="post" class="delete-btn">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">削除</button>
  </form>
</div>
