<form action="/<%= @memo['id'] %>/edit" method="post" class="memo-form">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="title" value=<%= h(@memo['title']) %> class="memo-title">
  <p></p>
  <textarea type="text" name="memo"><%= @memo['memo'] %></textarea>
  <p></p>
  <button type="submit">保存</button>
</form>
