<h1>メモ一覧</h1>
<button type=“button” onclick="location.href='/new'" class="post-btn">追加</button>
<ul>
  <% @memos.each do |memo| %>
    <li><a href=<%= "/#{memo['id']}" %>><%= memo['title'] %></a></li>
  <% end %>
</ul>
